In [1]:
# Tweepy - Python library for accessing the Twitter API.
import tweepy

# TextBlob - Python library for processing textual data
from textblob import TextBlob

# WordCloud - Python linrary for creating image wordclouds
from wordcloud import WordCloud

# Pandas - Data manipulation and analysis library
import pandas as pd

# NumPy - mathematical functions on multi-dimensional arrays and matrices
import numpy as np

# Regular Expression Python module
import re

# Matplotlib - plotting library to create graphs and charts
import matplotlib.pyplot as plt

# Settings for Matplotlib graphs and charts
from pylab import rcParams
rcParams['figure.figsize'] = 12, 8

# conda install tweepy
# conda install textblob
# conda install wordcloud

Bad key "text.kerning_factor" on line 4 in
/Users/gaby/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
df = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweet'])

NameError: name 'tweets' is not defined

In [ ]:
df.head()

In [ ]:
df.describe()

In [3]:
data1 = pd.read_csv('archive/2021.csv')
data2 = pd.read_csv('archive/2020.csv')
data3 = pd.read_csv('archive/2019.csv')
data4 = pd.read_csv('archive/2018.csv')
data5 = pd.read_csv('archive/2017.csv')
data6 = pd.read_csv('archive/2016.csv')
data7 = pd.read_csv('archive/2015.csv')
data8 = pd.read_csv('archive/2014.csv')
data9 = pd.read_csv('archive/2013.csv')
data10 = pd.read_csv('archive/2012.csv')
data11 = pd.read_csv('archive/2011.csv')
data12 = pd.read_csv('archive/2010.csv')

In [4]:
data1.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1373819373090050048,1373669212271566858,1.616379e+12,2021-03-22 02:10:37,0,NaN,@bluemoondance74 @NASASpaceflight Going well. ...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'bluemoondance74', 'name': 'R...",NaN,NaN,NaN,NaN
1,1,1373735946244431873,1373669212271566858,1.616359e+12,2021-03-21 20:39:07,0,NaN,@NASASpaceflight Hopefully will happen this de...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'NASASpaceflight', 'name': 'C...",NaN,NaN,NaN,NaN
2,2,1373555480870621188,1373328330041229312,1.616316e+12,2021-03-21 08:42:00,0,NaN,@newscientist True,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'newscientist', 'name': 'New ...",NaN,NaN,NaN,NaN
3,3,1373507545315172357,1373263440391864323,1.616305e+12,2021-03-21 05:31:31,0,NaN,@cleantechnica I am accumulating resources to ...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'cleantechnica', 'name': 'Cle...",NaN,NaN,NaN,NaN
4,4,1373492611231535111,1373357995288051718,1.616301e+12,2021-03-21 04:32:11,0,NaN,@CathieDWood When vast amounts of manufacturin...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CathieDWood', 'name': 'Cathi...",NaN,NaN,NaN,NaN

In [5]:
data1.describe()

,Unnamed: 0,id,conversation_id,created_at,timezone,place,user_id,user_id_str,day,hour,...,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,12339.00000,1.233900e+04,1.233900e+04,1.233900e+04,12339.0,0.0,12339.0,12339.0,12339.000000,12339.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,6169.00000,1.043969e+18,1.041510e+18,1.537735e+12,0.0,NaN,44196397.0,44196397.0,4.109652,12.355296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3562.10682,2.750809e+17,2.772118e+17,6.558855e+10,0.0,NaN,0.0,0.0,1.965760,7.764707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.00000,1.543473e+10,1.659576e+09,1.275676e+12,0.0,NaN,44196397.0,44196397.0,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3084.50000,9.374039e+17,9.348881e+17,1.512329e+12,0.0,NaN,44196397.0,44196397.0,2.000000,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,6169.00000,1.114587e+18,1.113902e+18,1.554573e+12,0.0,NaN,44196397.0,44196397.0,4.000000,15.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,9253.50000,1.251486e+18,1.250876e+18,1.587213e+12,0.0,NaN,44196397.0,44196397.0,6.000000,19.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,12338.00000,1.373819e+18,1.373669e+18,1.616379e+12,0.0,NaN,44196397.0,44196397.0,7.000000,23.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12339 entries, 0 to 12338
Data columns (total 39 columns):
Unnamed: 0         12339 non-null int64
id                 12339 non-null int64
conversation_id    12339 non-null int64
created_at         12339 non-null float64
date               12339 non-null object
timezone           12339 non-null int64
place              0 non-null float64
tweet              12339 non-null object
language           12339 non-null object
hashtags           12339 non-null object
cashtags           12339 non-null object
user_id            12339 non-null int64
user_id_str        12339 non-null int64
username           12339 non-null object
name               12339 non-null object
day                12339 non-null int64
hour               12339 non-null int64
link               12339 non-null object
urls               12339 non-null object
photos             12339 non-null object
video              12339 non-null int64
thumbnail          779 non-null object
retweet            12339 non-null bool
nlikes             12339 non-null int64
nreplies           12339 non-null int64
nretweets          12339 non-null int64
quote_url          404 non-null object
search             12339 non-null object
near               0 non-null float64
geo                0 non-null float64
source             0 non-null float64
user_rt_id         0 non-null float64
user_rt            0 non-null float64
retweet_id         0 non-null float64
reply_to           12339 non-null object
retweet_date       0 non-null float64
translate          0 non-null float64
trans_src          0 non-null float64
trans_dest         0 non-null float64
dtypes: bool(1), float64(12), int64(12), object(14)
memory usage: 3.6+ MB

In [7]:
combined_tweets = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12], axis='rows', join='inner')
combined_tweets

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1373819373090050048,1373669212271566858,1.616379e+12,2021-03-22 02:10:37,0,NaN,@bluemoondance74 @NASASpaceflight Going well. ...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'bluemoondance74', 'name': 'R...",NaN,NaN,NaN,NaN
1,1,1373735946244431873,1373669212271566858,1.616359e+12,2021-03-21 20:39:07,0,NaN,@NASASpaceflight Hopefully will happen this de...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'NASASpaceflight', 'name': 'C...",NaN,NaN,NaN,NaN
2,2,1373555480870621188,1373328330041229312,1.616316e+12,2021-03-21 08:42:00,0,NaN,@newscientist True,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'newscientist', 'name': 'New ...",NaN,NaN,NaN,NaN
3,3,1373507545315172357,1373263440391864323,1.616305e+12,2021-03-21 05:31:31,0,NaN,@cleantechnica I am accumulating resources to ...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'cleantechnica', 'name': 'Cle...",NaN,NaN,NaN,NaN
4,4,1373492611231535111,1373357995288051718,1.616301e+12,2021-03-21 04:32:11,0,NaN,@CathieDWood When vast amounts of manufacturin...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CathieDWood', 'name': 'Cathi...",NaN,NaN,NaN,NaN
5,5,1373490900807032840,1310591950853201921,1.616301e+12,2021-03-21 04:25:23,0,NaN,"@Swaggerheim @SciGuySpace Not trying to roast,...",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Swaggerheim', 'name': 'Stefe...",NaN,NaN,NaN,NaN
6,6,1373490467807977475,1373451932078022658,1.616301e+12,2021-03-21 04:23:40,0,NaN,@johnkrausphotos 🤣🤣,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'johnkrausphotos', 'name': 'J...",NaN,NaN,NaN,NaN
7,7,1373490182117224448,1373485789099753472,1.616301e+12,2021-03-21 04:22:32,0,NaN,"@AtomicsAstro @PPathole Yeah, but I’m English",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'AtomicsAstro', 'name': 'Astr...",NaN,NaN,NaN,NaN
8,8,1373489931574673408,1310591950853201921,1.616300e+12,2021-03-21 04:21:32,0,NaN,@SciGuySpace Not quite how I would tell the st...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'SciGuySpace', 'name': 'Eric ...",NaN,NaN,NaN,NaN
9,9,1373489348960645120,1373485789099753472,1.616300e+12,2021-03-21 04:19:13,0,NaN,@PPathole This is important,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'PPathole', 'name': 'Pranay P...",NaN,NaN,NaN,NaN
10,10,1373471097559994368,1366405443136856068,1.616296e+12,2021-03-21 03:06:42,0,NaN,"@TrungTPhan Wow, hard to believe that was 17 y...",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TrungTPhan', 'name': 'Trung ...",NaN,NaN,NaN,NaN
11,11,1373467434380783626,1373436726727745537,1.616295e+12,2021-03-21 02:52:08,0,NaN,@TeslaPhx @CodingMark @EvaFoxU @jrosinski97 @d...,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TeslaPhx', 'name': '₮Æ§Lλ ₱H...",NaN,NaN,NaN,NaN
12,12,1373301467440771074,1373297357719232512,1.616256e+12,2021-03-20 15:52:39,0,NaN,@Erdayastronaut @Twitter @TwitterComms @verifi...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Erdayastronaut', 'name': 'Ev...",NaN,NaN,NaN,NaN
13,13,1373274941202735105,1373065408983527431,1.616249e+12,2021-03-20 14:07:14,0,NaN,@OwenSparks_ I actually ate the sandwich haha!,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'OwenSparks_', 'name': 'Owen ...",NaN,NaN,NaN,NaN
14,14,1373259076465950726,1373084374837694465,1.616245e+12,2021-03-20 13:04:12,0,NaN,@TheBabylonBee 🤣🤣,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TheBabylonBee', 'name': 'The...",NaN,NaN,NaN,NaN
15,15,1373203066556588034,1373203066556588034,1.616232e+12,2021-03-20 09:21:38,0,NaN,Music in zero gravity https://t.co/bepfMipjrE,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
16,16,1373145910549483522,1373051617575010308,1.616218e+12,2021-03-20 05:34:31,0,NaN,@WholeMarsBlog Given significant architectural...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'WholeMarsBlog', 'name': 'Who...",NaN,NaN,NaN,NaN
17,17,1373132222555848713,1371142209416929286,1.616215e+12,2021-03-20 04:40:08,0,NaN,@SpacexVision An orbital propellant depot opti...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'SpacexVision', 'name': 'Spac...",NaN,NaN,NaN,NaN
18,18,1373027383511412739,1373025863646740480,1.616190e+12,2021-03-19 21:43:32,0,NaN,@Teslarati Преступленіе и наказаніе,uk,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Teslarati', 'name': 'TESLARA...",NaN,NaN,NaN,NaN
19,19,1372826575293583366,1372701263427641346,1.616142e+12,2021-03-19 08:25:36,0,NaN,@MarcusHouse The [ahem] reach-around,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'MarcusHouse', 'name': 'Marcu...",NaN,NaN,NaN,NaN
20,20,1372813161846439936,1372762954479804416,1.616139e+12,2021-03-19 07:32:18,0,NaN,@RationalEtienne @jordanbpeterson We could tal...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'RationalEtienne', 'name': 'T...",NaN,NaN,NaN,NaN
21,21,1372812312936128513,1372540915861094401,1.616139e+12,2021-03-19 07:28:55,0,NaN,@VinterNix @Bell Coming soon!,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'VinterNix', 'name': 'VinterN...",NaN,NaN,NaN,NaN
22,22,1372808148369641476,1372579468196331528,1.616138e+12,2021-03-19 07:12:22,0,NaN,@MoMoButFaster 🤣🤣,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'MoMoButFaster', 'name': '🌠xX...",NaN,NaN,NaN,NaN
23,23,1372803636305137664,1372542764160847874,1.616137e+12,2021-03-19 06:54:27,0,NaN,"@remouherek @SciGuySpace As you can see, I hav...",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'remouherek', 'name': 'Remo U...",NaN,NaN,NaN,NaN
24,24,1372792458128412675,1372762954479804416,1.616134e+12,2021-03-19 06:10:01,0,NaN,@jordanbpeterson What would you like to talk a...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'jordanbpeterson', 'name': 'D...",NaN,NaN,NaN,NaN
25,25,1372792170147553292,15434727182,1.616134e+12,2021-03-19 06:08:53,0,NaN,@teslaownersSV 💯,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'teslaownersSV', 'name': 'Tes...",NaN,NaN,NaN,NaN
26,26,1372739631846936581,1372739631846936581,1.616122e+12,2021-03-19 02:40:07,0,NaN,https://t.co/Ngk8SJvDUW,und,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
27,27,1372725108909957121,1372705169142599683,1.616118e+12,2021-03-19 01:42:24,0,NaN,@melaniemadri @thejackbeyer @NASASpaceflight F...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'melaniemadri', 'name': 'Mela...",NaN,NaN,NaN,NaN
28,28,1372724555047972869,1372705169142599683,1.616118e+12,2021-03-19 01:40:12,0,NaN,@thejackbeyer @NASASpaceflight The high bay is...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'thejackbeyer', 'name': 'Jack...",NaN,NaN,NaN,NaN
29,29,1372697001633136646,1372688191803768840,1.616111e+12,2021-03-18 23:50:43,0,NaN,@tobyliiiiiiiiii We will need launch tower for...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'tobyliiiiiiiiii', 'name': 'T...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,311,142179928203460608,142179928203460608,1.322733e+12,2011-12-01 09:55:11,0,NaN,Went to Iceland on Sat to ride bumper cars on ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
312,312,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,0,NaN,"Please ignore prior tweets, as that was someon...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
0,0,152153637639028736,152151847614943233,1.325111e+12,2011-12-28 22:27:08,0,NaN,@TheOnion So true :),en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,151809315026636800,151809315026636800,1.325029e+12,2011-12-27 23:38:55,0,NaN,If you ever wanted to know the *real* truth ab...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,151338939389706242,151338939389706242,1.324917e+12,2011-12-26 16:29:50,0,NaN,Walked around a neighborhood recently rebuilt ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,3,151337237429239808,151337237429239808,1.324917e+12,2011-12-26 16:23:04,0,NaN,"It was Xmas, so we brought presents for the ki...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,151327734843445249,151327734843445249,1.324914e+12,2011-12-26 15:45:18,0,NaN,"Met with UNICEF, Doctors Without Borders and A...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
5,5,151322293174419456,151322293174419456,1.324913e+12,2011-12-26 15:23:40,0,NaN,Just returned from a trip to Haiti. Covered a ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
6,6,151317672217419777,151317672217419777,1.324912e+12,2011-12-26 15:05:19,0,NaN,Single character Tweets are the ulitmate exten...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
7,7,151151777662779392,151151777662779392,1.324872e+12,2011-12-26 04:06:06,0,NaN,I,und,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
8,8,150390624552615937,150390624552615937,1.324691e+12,2011-12-24 01:41:33,0,NaN,The Russians are having some challenges with t...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
9,9,150388617246801920,150388617246801920,1.324690e+12,2011-12-24 01:33:35,0,NaN,We had a long and interesting conversation on ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
10,10,150387544402575360,150387544402575360,1.324690e+12,2011-12-24 01:29:19,0,NaN,Kanye stopped by the SpaceX rocket factory tod...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
11,11,149813972915339264,149813972915339264,1.324553e+12,2011-12-22 11:30:10,0,NaN,Model S options are out! Performance in red an...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12,12,149787827712958464,149787827712958464,1.324547e+12,2011-12-22 09:46:16,0,NaN,"Hi, I'm Art Garfunkel. Have you heard the soun...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
13,13,149688828599349251,149688828599349251,1.324524e+12,2011-12-22 03:12:52,0,NaN,Raul Campos invited me to do a guest DJ gig on...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
14,14,149629518267695104,149629518267695104,1.324509e+12,2011-12-21 23:17:11,0,NaN,Yum! Even better than deep fried butter: http...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
15,15,149447517325635584,149447517325635584,1.324466e+12,2011-12-21 11:13:59,0,NaN,"Yeah, this really is me, as my Mom @mayemusk w...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
16,16,149444078210256896,149444078210256896,1.324465e+12,2011-12-21 11:00:19,0,NaN,Got called randomly by Kanye West today and re...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
17,17,149441101684686848,149441101684686848,1.324465e+12,2011-12-21 10:48:29,0,NaN,His singing and acting talent will be sorely m...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
18,18,149439686702661632,149439686702661632,1.324464e+12,2011-12-21 10:42:52,0,NaN,Why does the crowd cry over the glorious leade...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
19,19,149436471764459520,149436471764459520,1.324463e+12,2011-12-21 10:30:05,0,NaN,Sam Harris also wrote a nice piece on the awes...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
20,20,149435658115612672,149435658115612672,1.324463e+12,2011-12-21 10:26:51,0,NaN,"Read ""Lying"", the new book by my friend Sam Ha...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
21,21,143171132814671872,143171132814671872,1.322970e+12,2011-12-04 03:33:52,0,NaN,Am reading a great biography of Ben Franklin b...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
22,22,142881284019060736,142881284019060736,1.322901e+12,2011-12-03 08:22:07,0,NaN,That was a total non sequitur btw,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
23,23,142880871391838208,142880871391838208,1.322900e+12,2011-12-03 08:20:28,0,NaN,"Great Voltaire quote, arguably better than Twa...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
24,24,142188458125963264,142188458125963264,1.322735e+12,2011-12-01 10:29:04,0,NaN,I made the volume on the Model S http://t.co/...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
25,25,142179928203460608,142179928203460608,1.322733e+12,2011-12-01 09:55:11,0,NaN,Went to Iceland on Sat to ride bumper cars on ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
26,26,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,0,NaN,"Please ignore prior tweets, as that was someon...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
0,0,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,0,NaN,"Please ignore prior tweets, as that was someon...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [14]:
tweets_data = combined_tweets.drop(labels=["place", "geo", "near", "source", "user_rt_id", "user_rt", "retweet_id", "retweet_date","translate", "trans_src", "trans_dest", "timezone", "place", "quote_url", "search", "reply_to"], axis=1)

In [15]:
tweets_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43074 entries, 0 to 0
Data columns (total 24 columns):
Unnamed: 0         43074 non-null int64
id                 43074 non-null int64
conversation_id    43074 non-null int64
created_at         43074 non-null float64
date               43074 non-null object
tweet              43074 non-null object
language           43074 non-null object
hashtags           43074 non-null object
cashtags           43074 non-null object
user_id            43074 non-null int64
user_id_str        43074 non-null int64
username           43074 non-null object
name               43074 non-null object
day                43074 non-null int64
hour               43074 non-null int64
link               43074 non-null object
urls               43074 non-null object
photos             43074 non-null object
video              43074 non-null int64
thumbnail          2807 non-null object
retweet            43074 non-null bool
nlikes             43074 non-null int64
nreplies           43074 non-null int64
nretweets          43074 non-null int64
dtypes: bool(1), float64(1), int64(11), object(11)
memory usage: 7.9+ MB

In [16]:
tweets_data.tail()

,Unnamed: 0,id,conversation_id,created_at,date,tweet,language,hashtags,cashtags,user_id,...,hour,link,urls,photos,video,thumbnail,retweet,nlikes,nreplies,nretweets
23,23,142880871391838208,142880871391838208,1.322900e+12,2011-12-03 08:20:28,"Great Voltaire quote, arguably better than Twa...",en,[],[],44196397,...,8,https://twitter.com/elonmusk/status/1428808713...,[],[],0,NaN,False,29,7,25
24,24,142188458125963264,142188458125963264,1.322735e+12,2011-12-01 10:29:04,I made the volume on the Model S http://t.co/...,en,[],[],44196397,...,10,https://twitter.com/elonmusk/status/1421884581...,['http://ow.ly/i/mtD7'],[],0,NaN,False,78,31,9
25,25,142179928203460608,142179928203460608,1.322733e+12,2011-12-01 09:55:11,Went to Iceland on Sat to ride bumper cars on ...,en,[],[],44196397,...,9,https://twitter.com/elonmusk/status/1421799282...,[],['https://pbs.twimg.com/media/Afkf5DMCAAEJGFr....,1,https://pbs.twimg.com/media/Afkf5DMCAAEJGFr.jpg,False,189,32,15
26,26,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,"Please ignore prior tweets, as that was someon...",en,[],[],44196397,...,18,https://twitter.com/elonmusk/status/15434727182,[],[],0,NaN,False,4652,391,348
0,0,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,"Please ignore prior tweets, as that was someon...",en,[],[],44196397,...,18,https://twitter.com/elonmusk/status/15434727182,[],[],0,NaN,False,4652,391,348

In [17]:
df = pd.DataFrame(data=[tweets_data], columns=['date','Tweet','language'])

ValueError: Must pass 2-d input

In [8]:
combined_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43074 entries, 0 to 0
Data columns (total 39 columns):
Unnamed: 0         43074 non-null int64
id                 43074 non-null int64
conversation_id    43074 non-null int64
created_at         43074 non-null float64
date               43074 non-null object
timezone           43074 non-null int64
place              0 non-null float64
tweet              43074 non-null object
language           43074 non-null object
hashtags           43074 non-null object
cashtags           43074 non-null object
user_id            43074 non-null int64
user_id_str        43074 non-null int64
username           43074 non-null object
name               43074 non-null object
day                43074 non-null int64
hour               43074 non-null int64
link               43074 non-null object
urls               43074 non-null object
photos             43074 non-null object
video              43074 non-null int64
thumbnail          2807 non-null object
retweet            43074 non-null bool
nlikes             43074 non-null int64
nreplies           43074 non-null int64
nretweets          43074 non-null int64
quote_url          1384 non-null object
search             43074 non-null object
near               0 non-null float64
geo                0 non-null float64
source             0 non-null float64
user_rt_id         0 non-null float64
user_rt            0 non-null float64
retweet_id         0 non-null float64
reply_to           43074 non-null object
retweet_date       0 non-null float64
translate          0 non-null float64
trans_src          0 non-null float64
trans_dest         0 non-null float64
dtypes: bool(1), float64(12), int64(12), object(14)
memory usage: 12.9+ MB

In [ ]:
# Cleaning the tweets

def cleanUpTweet(txt):
    # Remove mentions
    txt = re.sub(r'@[A-Za-z0-9_]+', '', txt)
    # Remove hashtags
    txt = re.sub(r'#', '', txt)
    # Remove retweets:
    txt = re.sub(r'RT : ', '', txt)
    # Remove urls
    txt = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', '', txt)
    return txt

In [ ]:
def getTextSubjectivity(txt):
    return TextBlob(txt).sentiment.subjectivity

def getTextPolarity(txt):
    return TextBlob(txt).sentiment.polarity

In [ ]:
df['Subjectivity'] = df['Tweet'].apply(getTextSubjectivity)
df['Polarity'] = df['Tweet'].apply(getTextPolarity)

In [ ]:
df.head(50)

In [ ]:
df = df.drop(df[df['Tweet'] == ''].index)

In [ ]:
df.head(50)

In [ ]:
# negative, nautral, positive analysis
def getTextAnalysis(a):
    if a < 0:
        return "Negative"
    elif a == 0:
        return "Neutral"
    else:
        return "Positive"

In [ ]:
df['Score'] = df['Polarity'].apply(getTextAnalysis)

In [ ]:
df.head(50)

In [ ]:
positive = df[df['Score'] == 'Positive']

print(str(positive.shape[0]/(df.shape[0])*100) + " % of positive tweets")

In [ ]:
labels = df.groupby('Score').count().index.values

values = df.groupby('Score').size().values

plt.bar(labels, values)

In [ ]:
for index, row in df.iterrows():
    if row['Score'] == 'Positive':
        plt.scatter(row['Polarity'], row['Subjectivity'], color="green")
    elif row['Score'] == 'Negative':
        plt.scatter(row['Polarity'], row['Subjectivity'], color="red")
    elif row['Score'] == 'Neutral':
        plt.scatter(row['Polarity'], row['Subjectivity'], color="blue")

plt.title('Twitter Sentiment Analysis')
plt.xlabel('Polarity')
plt.ylabel('Subjectivity')
# add legend
plt.show()

In [ ]:
objective = df[df['Subjectivity'] == 0]

print(str(objective.shape[0]/(df.shape[0])*100) + " % of objective tweets")

In [ ]:
# Creating a word cloud
words = ' '.join([tweet for tweet in df['Tweet']])
wordCloud = WordCloud(width=600, height=400).generate(words)

plt.imshow(wordCloud)
plt.show()